<div class="content_r">
  <div class="content_r_head"> Контакты </div>
  <div class="news_item">
    <div id="news_main">
      <p style="font-family:verdana, geneva, sans-serif;">тел.(044) 223-63-34 Валерия</p>
      <p style="font-family:verdana, geneva, sans-serif;">тел.(044) 223-63-46 Анна</p>
      <p style="font-family:verdana, geneva, sans-serif;">e-mail: info@ukrstyle.com.ua</p>
    </div>
  </div>
</div>