<%= fields_for @gallery do |f| %>
    <%= f.fields_for :assets, :child_index => number do |asset| %>
        <p>
          <%= asset.label :asset, "Файл ##{ number += 1 }"  %>
          <%= asset.file_field :asset %>
        </p>
    <% end %>
<% end %>