<div class="content_l">
  <ul>
    <% Category.all.each do |category| %>
        <li>
          <%= link_to category.name, category %>
          <% category.general_types.each do |type| %>
              <ul>
                <li>
                  <%=link_to type.name, type %>
                </li>
              </ul>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

