<div class="footer">
  <div class="footer_nav">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">Товары и услуги</a></li>
      <li><a href="#">Наши проекты</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Новости и статьи</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </div>
  <div class="footer_bottom_decoration">
  </div>
  <div class="footer_rights">
    Все права защищены "УКРСТАЙЛ" Copyright © 2012
  </div>
</div>


<b class="clearb"></b>