<div class="header_nav">
  <ul>
    <li><%= link_to "Главная", root_path %></li>
    <li><%= link_to "Товары и услуги", product_index_path %></li>
    <li><a href="#">Наши проекты</a></li>
    <li><%= link_to "О компании", pages_about_path %></li>
    <li><a href="#">Новости и статьи</a></li>
    <li><%= link_to "Контакты", pages_contact_path %></li>
  </ul>
</div>
