<div class="header">
  <div class="logo">
    <%= link_to image_tag("logo.png", {:alt => 'Укр.стайл'}), root_path  %>
  </div>
  <div class="contact_phone">
    <ul>
      <li class="decoration">(044) 223 63 34</li>
      <li>(044) 223 63 46</li>
    </ul>
    <address>info@ukrstyle.com.ua</address>
  </div>
</div>
