<div class="slider">
  <ul>
    <li>
      <div class="slider_pic">
        <html>
        <head>
          <link href="js-image-slider.css" rel="stylesheet" type="text/css" />
          <script src="js-image-slider.js" type="text/javascript"></script>
        </head>
        <body>
        <div id="slider">
          <img src="22Jun2012_11-07-06urakami5_jpg.jpg"/>
          <img src="public/22Jun2012_11-04-32yubiteyka2_jpg.jpg" />
          <img src="22Jun2012_11-04-32yubiteyka2_jpg.jpg" /></a>
          <img src="public/22Jun2012_11-07-06urakami5_jpg.jpg" />
            </div>
        </body>
        </html>
      </div>
    </li>
  </ul>
  <div class="slider_nav">
    <a class="cur" href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </div>
  <div class="slider_bottom_decoration"></div>
</div>



