<div class="slider">
  <ul>
    <li>
      <div class="slider_pic">
        <%= image_tag("slider_pic.png") %>
      </div>
    </li>
  </ul>
  <div class="slider_nav">
    <a class="cur" href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </div>
  <div class="slider_bottom_decoration"></div>
</div>
