<div class="slider">
  <ul>
    <li>
      <div class="slider_pic">
        <html>
        <head>

        </head>
        <body>
        <div id="slider">
          <img src="22Jun2012_11-07-06urakami5_jpg.jpg"/>
          <img src="17Apr2012_09-35-41slider_pic_png.png" />
          <img src="22Jun2012_11-04-32yubiteyka2_jpg.jpg" />
          <img src="22Jun2012_11-01-29ukka1_jpg.jpg" />
            </div>
        </body>
        </html>
      </div>
    </li>
  </ul>
  <div class="slider_bottom_decoration"></div>
</div>



