<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>main4</title>
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
</head>

<body>
<div class="page_center">
	<div class="header">
    	<div class="logo">
        	<a href="#" title="Укр.стайл"><img src="images/logo.png" /></a>
        </div>
        <div class="contact_phone">
        	<ul>
            	<li class="decoration">(044) 223 63 34</li>
                <li>(044) 223 63 46</li>
            </ul>
            <address>info@ukrstyle.com.ua</address>
        </div>
    </div>
    <div class="header_nav">
    	<ul>
        	<li><a href="#">Главная</a></li>
            <li><a href="#">Товары и услуги</a></li>
            <li><a href="#">Наши проекты</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Новости и статьи</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="slider">
        <ul>
            <li>
                <div class="slider_pic">
                    <img src="pic/slider_pic.png" />
                </div>
            </li>
        </ul>
        <div class="slider_nav">
            <a class="cur" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="slider_bottom_decoration"></div>
    </div>
    <div class="content content_under_slider">
        <div class="content_l">
        	<ul>
            	<li><a href="#">Мебель для ресторанов, кафе и баров</a>
                	<ul>
                    	<li><a href="#">Основания для столов</a></li>
                        <li><a href="#">Столешницы</a></li>
                        <li><a href="#">Стулья барные</a></li>
                        <li><a href="#">Стулья</a></li>
                        <li><a href="#">Столы барные</a></li>
                        <li><a href="#">Барные стойки</a></li>
                        <li><a href="#">Дроверы</a></li>
                        <li><a href="#">Полки</a></li>
                        <li><a href="#">Тумбы</a></li>
                        <li><a href="#">Картины</a></li>
                    </ul>
                </li>
                <li><a href="#">Мягкая мебель для кафе и ресторанов</a></li>
                <li><a href="#">Мягкая мебель для дома и офиса</a>
               		<ul>
                    	<li><a href="#">Диваны</a></li>
                        <li><a href="#">Угловые диваны</a></li>
                        <li><a href="#">Кресла</a></li>
                    </ul>
                </li>
                <li><a href="#">Кресла офисные</a>
                	<ul>
                    	<li><a href="#">Кресла для руководителя</a></li>
                        <li><a href="#">Кожаные кресла</a></li>
                        <li><a href="#">Кресла для персонала</a></li>
                        <li><a href="#">Кресла конференционные</a></li>
                    </ul>
                </li>
                <li><a href="#">Столы для дома, стулья для дома</a>
                	<ul>
                    	<li><a href="#">Столы деревянные</a></li>
                        <li><a href="#">Стулья деревянные</a></li>
                        <li><a href="#">Стулья</a></li>
                        <li><a href="#">Столы стекло</a></li>
                        <li><a href="#">Журнальные столы</a></li>
                    </ul>
                </li>
                <li><a href="#">Мебель для спальни</a>
                	<ul>
                    	<li><a href="#">Кровати</a></li>
                        <li><a href="#">Кровати деревянные</a></li>
                        <li><a href="#">Спальни</a></li>
                        <li><a href="#">Тумбы</a></li>
                        <li><a href="#">Комоды</a></li>
                        <li><a href="#">Матрасы ортопедические</a></li>
                    </ul>
                </li>
                <li><a href="#">Видеонаблюдение и спутниковое телевидение</a></li>
            </ul>
        </div>
        <div class="content_r">
        	<div class="content_r_head">
            Наши проекты
            </div>
            <div class="projects gradient">
                <div class="project">
                    <a href="#"><div class="project_pic">
                        <img src="pic/project1.png" />
                    </div>
                    <div class="project_text gradient">
                        <table>
                            <tr>
                                <td>Ресторан "Мураками"</td>
                            </tr>
                        </table>
                    </div></a>
                </div>
                <div class="project">
                    <a href="#"><div class="project_pic">
                        <img src="pic/project2.png" />
                    </div>
                    <div class="project_text gradient">
                        <table>
                            <tr>
                                <td>Ресторан "Мураками"</td>
                            </tr>
                        </table>
                    </div></a>
                </div>
                <div class="project">
                    <a href="#"><div class="project_pic">
                        <img src="pic/project3.png" />
                    </div>
                    <div class="project_text gradient">
                        <table>
                            <tr>
                                <td>Ресторан "Мураками"</td>
                            </tr>
                        </table>
                    </div></a>
                </div>
            </div>
            <div class="content_r_head">
            Обратите внимание
            </div>
            <div class="product">
            	<a href="#"><div class="product_pic">
                	<img src="pic/product1.png" />
                </div>
                <div class="stock">
                Есть в наличии
                </div>
                <div class="product_text">
                    <table>
                        <tr>
                            <td>Софа для офиса 3х места</td>
                        </tr>
                    </table>
                </div></a>
                <div class="product_price">
                	3040
                    <span>грн.</span>
                </div>
                <div class="product_order">
                	<a href="#"><img src="images/order_button.png" /></a>
                </div>
            </div>
            <div class="product">
            	<a href="#"><div class="product_pic">
                	<img src="pic/product2.png" />
                </div>
                <div class="stock">
                Есть в наличии
                </div>
                <div class="product_text">
                    <table>
                        <tr>
                            <td>Софа для офиса 3х места</td>
                        </tr>
                    </table>
                </div></a>
                <div class="product_price">
                	3040
                    <span>грн.</span>
                </div>
                <div class="product_order">
                	<a href="#"><img src="images/order_button.png" /></a>
                </div>
            </div>
            <div class="product">
            	<a href="#"><div class="product_pic">
                	<img src="pic/product3.png" />
                </div>
                <div class="stock">
                Есть в наличии
                </div>
                <div class="product_text">
                    <table>
                        <tr>
                            <td>Софа для офиса 3х места</td>
                        </tr>
                    </table>
                </div></a>
                <div class="product_price">
                	3040
                    <span>грн.</span>
                </div>
                <div class="product_order">
                	<a href="#"><img src="images/order_button.png" /></a>
                </div>
            </div>
            <div class="product">
            	<a href="#"><div class="product_pic">
                	<img src="pic/product4.png" />
                </div>
                <div class="stock">
                Есть в наличии
                </div>
                <div class="product_text">
                    <table>
                        <tr>
                            <td>Софа для офиса 3х места</td>
                        </tr>
                    </table>
                </div></a>
                <div class="product_price">
                	3040
                    <span>грн.</span>
                </div>
                <div class="product_order">
                	<a href="#"><img src="images/order_button.png" /></a>
                </div>
            </div>
            <div class="product">
            	<a href="#"><div class="product_pic">
                	<img src="pic/product5.png" />
                </div>
                <div class="stock">
                Есть в наличии
                </div>
                <div class="product_text">
                    <table>
                        <tr>
                            <td>Софа для офиса 3х места</td>
                        </tr>
                    </table>
                </div></a>
                <div class="product_price">
                	3040
                    <span>грн.</span>
                </div>
                <div class="product_order">
                	<a href="#"><img src="images/order_button.png" /></a>
                </div>
            </div>
            <div class="product">
            	<a href="#"><div class="product_pic">
                	<img src="pic/product6.png" />
                </div>
                <div class="stock">
                Есть в наличии
                </div>
                <div class="product_text">
                    <table>
                        <tr>
                            <td>Софа для офиса 3х места</td>
                        </tr>
                    </table>
                </div></a>
                <div class="product_price">
                	3040
                    <span>грн.</span>
                </div>
                <div class="product_order">
                	<a href="#"><img src="images/order_button.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    	<div class="footer_nav">
        	<ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Товары и услуги</a></li>
                <li><a href="#">Наши проекты</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Новости и статьи</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="footer_bottom_decoration">
        </div>
        <div class="footer_rights">
        Все права защищены "УКРСТАЙЛ" Copyright © 2012
        </div>
    </div>
    
    
    
    <b class="clearb"></b>
</div>
</body>
</html>
